<%= render partial: "table_column", locals: { data: data, gender: 'male', status: 'pending' } %>
<%= render partial: "table_column", locals: { data: data, gender: 'female', status: 'pending' } %>
<%= render partial: "table_column", locals: { data: data, gender: 'male', status: 'published' } %>
<%= render partial: "table_column", locals: { data: data, gender: 'female', status: 'published' } %>