
<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
    <div class="container"><span class="navbar-brand mb-0 h1">Navbar</span></div>
</nav>
<div class="container">
    <h3 class="mt-5">Book status by Gender</h3>
    <div style="overflow: auto; height: 500px;">
        <table class="table">
        <thead>
            <tr>
            <th rowspan=5>Organization</th>
            <tr>
            <th colspan=2>Pending</th>
            <th colspan=2>Published</th>
            </tr>

            <tr>
            <th>Male</th>
            <th>Female</th>
            <th>Male</th>
            <th>Female</th>
            
            </tr>  
            
            </tr>
        </thead>
        <tbody>
            
            <% @org_hierarchy_sticher.org_level4s_seen.each do |_, org_level4| %>
                
                <% formatted_org_level4_name = formatted_org_name(org_level4.name)%>
                <tr data-toggle="collapse" data-target="<%= formatted_org_level4_name %>">
                    <td><h4><%= org_level4.name %></h4></td>
                    <% count_by_status_by_gender_data = org_level4.count_by_status_by_gender_data %>
                    <%= render partial: "table", locals: { data: count_by_status_by_gender_data } %>
                    <% count_by_grade_by_status_by_gender = org_level4.count_by_grade_by_status_by_gender %>
                    <% count_by_grade_by_status_by_gender.each do |key, value|%>
                        <tr>
                            <td><h6 style="padding-left: 60px"><%= key %></h6></td>
                            <%= render partial: "table", locals: { data: value } %>
                        </tr>
                        
                    <% end %>
                </tr>
                <% org_level4.child_orgs.each do |org_level5| %>
                    <% formatted_org_level5_name = formatted_org_name(org_level5.name)%>
                    <tr>
                        <td><h5 style="padding-left: 40px"><b><%= org_level5.name %></b></h5></td>
                        <%= render partial: "table", locals: { data: count_by_status_by_gender_data } %>
                    </tr>
                    <% org_level5.child_orgs.each do |org_level6| %>
                        <% formatted_org_level6_name = formatted_org_name(org_level6.name)%>
                        <tr>
                            <td><h6 style="padding-left: 60px"><%= org_level6.name %></h6></td>
                            <%= render partial: "table", locals: { data: count_by_status_by_gender_data } %>
                        </tr>
                    <% end %>
                <% end %>
            <% end %>
        
        </tbody>
        </table>
    </div>
    <h3 class="mt-5">Book status by Organization</h3>
    <div style="overflow: auto; height: 500px;">
        <table class="table">
        <thead>
            
            <th>Organization</th>
            <th>Current</th>
            <th>Pending</th>
            <th>Published</th>
            
        </thead>
        <tbody>
            <% @org_hierarchy_sticher.org_level4s_seen.each do |_, org_level4| %>
                <% formatted_org_level4_name = formatted_org_name(org_level4.name)%>
                <tr data-toggle="collapse" data-target="<%= formatted_org_level4_name %>">
                    <td><h4><%= org_level4.name %></h4></td>  
                    <td><%= org_level4.total_books %></td>                  
                    <% count_by_status = org_level4.count_by_status %>
                    <%= render partial: "table_status", locals: { data: count_by_status } %>
                </tr>
                <% org_level4.child_orgs.each do |org_level5| %>
                    <% formatted_org_level5_name = formatted_org_name(org_level5.name)%>
                    <tr>
                        <td><h5 style="padding-left: 40px"><b><%= org_level5.name %></b></h5></td>
                        <td><%= org_level5.total_books %></td>
                        <% count_by_status = org_level5.count_by_status %>
                        <%= render partial: "table_status", locals: { data: count_by_status } %>
                    </tr>
                    <% org_level5.child_orgs.each do |org_level6| %>
                        <% formatted_org_level6_name = formatted_org_name(org_level6.name)%>
                        <tr>
                            <td><h6 style="padding-left: 60px"><%= org_level6.name %></h6></td>
                            <td><%= org_level6.total_books %></td>
                            <% count_by_status = org_level6.count_by_status %>
                            <%= render partial: "table_status", locals: { data: count_by_status } %>
                        </tr>
                    <% end %>
                <% end %>
            <% end %>
        
        </tbody>
        </table>
    </div>

    <h3 class="mt-5">Book status by Ratings</h3>
    <div style="overflow: auto; height: 500px;">
        <table class="table">
        <thead>
            <tr>
            <th rowspan=5>Supervisory Org</th>
            <tr>
            <th colspan=2>Pending</th>
            <th colspan=2>Approved</th>
            </tr>

            <tr>
            <th>Male</th>
            <th>Female</th>
            <th>Male</th>
            <th>Female</th>
            
            </tr>  
            
            </tr>
        </thead>
        <tbody>
            
            <% @org_hierarchy_sticher.org_level4s_seen.each do |_, org_level4| %>
                <% formatted_org_level4_name = formatted_org_name(org_level4.name)%>
                <tr data-toggle="collapse" data-target="<%= formatted_org_level4_name %>">
                    <td><h4><%= org_level4.name %></h4></td>
                    <% count_by_status_by_gender_data = org_level4.count_by_status_by_gender_data %>
                    <%= render partial: "table", locals: { data: count_by_status_by_gender_data } %>
                    <% count_by_grade_by_status_by_gender = org_level4.count_by_grade_by_status_by_gender %>
                    <% count_by_grade_by_status_by_gender.each do |key, value|%>
                        <tr>
                            <td><h6 style="padding-left: 60px"><%= key %></h6></td>
                            <%= render partial: "table", locals: { data: value } %>
                        </tr>
                        
                    <% end %>
                </tr>
                <% org_level4.child_orgs.each do |org_level5| %>
                    <% formatted_org_level5_name = formatted_org_name(org_level5.name)%>
                    <tr>
                        <td><h5 style="padding-left: 40px"><b><%= org_level5.name %></b></h5></td>
                        <%= render partial: "table", locals: { data: count_by_status_by_gender_data } %>
                    </tr>
                    <% org_level5.child_orgs.each do |org_level6| %>
                        <% formatted_org_level6_name = formatted_org_name(org_level6.name)%>
                        <tr>
                            <td><h6 style="padding-left: 60px"><%= org_level6.name %></h6></td>
                            <%= render partial: "table", locals: { data: count_by_status_by_gender_data } %>
                        </tr>
                    <% end %>
                <% end %>
            <% end %>
        
        </tbody>
        </table>
    </div>
</div>